@charset "UTF-8";
* {
  margin: 0;
  font-family: "微軟正黑體"; }

body {
  background-color: #ccc; }

.header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.827);
  height: 100px;
  position: fixed;
  top: 0;
  left: 0; }
  .header h1 {
    position: absolute;
    top: 50%;
    left: 10%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .header h1::before {
      content: '';
      display: inline-block;
      position: absolute;
      z-index: -2;
      overflow: hidden;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 400px;
      height: 180px;
      opacity: 0.3; }

#container {
  width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  #container .item {
    width: 33.3%; }
  #container img {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    #container img:hover {
      background-color: #4d4d4d; }

.block {
  height: 100px; }

.searchWarp {
  width: 500px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .searchWarp #search {
    width: 100%;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    border: 0px solid #000;
    border-radius: 200px;
    opacity: 0.7;
    height: 40px;
    line-height: 40px; }
  .searchWarp::after {
    content: 'Enter';
    position: absolute;
    vertical-align: middle;
    right: 15px;
    top: 0px;
    line-height: 40px;
    font-size: 14px;
    color: #333; }
