@charset "UTF-8";
* {
  margin: 0;
  font-family: '微軟正黑體'; }

.nav {
  height: 50px;
  background-color: #FF0000; }

h1 {
  color: #fff;
  padding: 0 10px; }

.warp {
  position: relative;
  height: calc(100vh - 50px); }

#container {
  overflow: hidden;
  background-color: #eee;
  height: calc(100vh - 50px);
  width: 500px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  #container::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(https://yt3.ggpht.com/a-/AN66SAxPnPuLiQHb7d1R3fY_bYizF6IHQu_QuSEFxA=s240-mo-c-c0xffffffff-rj-k-no);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-filter: blur(15px);
    filter: blur(15px); }
  #container .channelwarp {
    cursor: pointer;
    width: 300px;
    margin: 10px;
    display: inline-block;
    height: 130px;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 20px 2px rgba(51, 51, 51, 0.413);
    box-shadow: 0 10px 20px 2px rgba(51, 51, 51, 0.413);
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #container .channelwarp .chennelBg {
      background-size: cover;
      background-position: 50% 0%;
      width: 10%;
      font-size: 0;
      vertical-align: middle;
      font-size: 0; }
      #container .channelwarp .chennelBg img {
        border: 1px solid #d10000;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
      #container .channelwarp .chennelBg .btn {
        height: 10px;
        width: 100%;
        font-size: 10px;
        line-height: 8px;
        color: #fff;
        background-color: #d10000; }
    #container .channelwarp .content {
      padding: 10px; }

.containerWapr {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50px;
  top: 20%; }

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

span {
  color: rgba(60, 60, 60, 0.744); }

.contentText {
  display: inline-block;
  width: 70%;
  color: rgba(60, 60, 60, 0.744); }

#next, #last {
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  color: #999;
  font-weight: 200;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  right: 10%;
  top: 50%;
  -webkit-box-shadow: 0 5px 10px #aaa;
  box-shadow: 0 5px 10px #aaa;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%); }

#last {
  left: 10%; }

.chennelName {
  font-size: 24px;
  margin: 5px 10px; }

h3 {
  font-size: 16px;
  margin: 5px 0; }

p {
  font-size: 50px; }
