*{
	margin: 0;
	// outline: 1px solid;
}
body{
	background-color: #fff;
}
.nav{
	height: 50px;
	background-color: #333;
}
.output{
	.movieWrap{
		width: 80%;	
		max-width: 1200px;
		margin:  50px auto ;
		display: flex;
		font-size: 0;
		.picWarp{
			display: inline-block;
			width: 30%;
			vertical-align: middle;
			img{
				width: 100%;
			}
		}
		&__content{
			display: inline-block;
			vertical-align: middle;
			width: 75%;
			padding: 0 10px;
			box-sizing: border-box;
			
			.movieName{
				font-size: 28px;
				margin: 10px 0;
			}
			.date{
				font-size: 14px;
			}
		}
	}
}
.view{
	width: 60px;
	cursor: pointer;
	background-color: rgb(150, 255, 227);
	padding: 2px 10px;
	box-shadow: 0 2px 10px 0 rgb(0, 67, 49);
	border-radius: 100px;
	font-size: 14px;
	margin: 20px 0;
	transition: .3s;
	&:hover{
		background-color: #fff;
	}
}
.movieName{
	font-size: 24px;
}
.date{
	font-size: 14px;
}
.description{
	margin-top: 20px;
	h3{
		font-size: 16px;
	}
	.description__content{
		font-size: 14px;
	}
}